.b225-categories button{
  height:46px!important;
  padding-left:18px!important;
  padding-right:18px!important;
  border-radius:23px!important;
}

@media(max-width:350px){
  .b225-categories button{
    height:44px!important;
    padding-left:16px!important;
    padding-right:16px!important;
    border-radius:22px!important;
  }
}
